"""QuerySet for {{ entity.name }} model."""
from django.db import models


class {{ entity.name }}QuerySet(models.QuerySet):
    """Custom QuerySet for {{ entity.name }}."""
    
    # TODO: Add custom queryset methods here
    # Example:
    # def active(self):
    #     return self.filter(is_active=True)
    pass
